* {
    font-family: 'Pixelify Sans', sans-serif;
}

.img-fiap {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 35%;
    opacity: .5;
}

.canvas{
    border: 1px solid #000;
    background-color: antiquewhite;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: #FD0FD5;
}
